{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">AI Security Assistant</h2>

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">

        <input
            type="text"
            name="question"
            class="form-control"
            placeholder="Ask something like: Show critical docker vulnerabilities"
            required
        >

    </div>

    <button type="submit" class="btn btn-dark">
        Ask AI
    </button>

</form>


{% if question %}

<hr>

<h4>Question:</h4>

<p>{{ question }}</p>

{% endif %}


{% if results %}

<hr>

<h4>
    Results: {{ total_count }} records found
</h4>

<table class="table table-bordered bg-white">

    <tbody>

    {% for item in results %}

        <tr>

            <td>{{ item }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endif %}

{% endblock %}
