{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Docker Vulnerabilities</h2>

<table class="table table-bordered table-striped table-hover">

<thead class="table-dark">
<tr>
    <th>Image</th>
    <th>Severity</th>
    <th>Vulnerability</th>
    <th>Package</th>
</tr>
</thead>

<tbody>

{% for item in data %}
<tr>
    <td>{{ item.image_name }}</td>
    <td>{{ item.severity }}</td>
    <td>{{ item.vulnerability_id }}</td>
    <td>{{ item.package_name }}</td>
</tr>
{% endfor %}

</tbody>

</table>

{% endblock %}
