{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Security Dashboard</h2>

<div class="row g-4">

    <!-- Source Code -->

    <div class="col-md-4">

        <div class="card-box repo">

            <h5>Source Code Vulnerabilities</h5>

            <h1>{{ source_total }}</h1>

            <div class="mt-3">

                <a href="/sourcecode/?severity=CRITICAL" class="btn btn-light btn-sm">
                    Critical: {{ source_critical }}
                </a>

                <a href="/sourcecode/?severity=HIGH" class="btn btn-light btn-sm">
                    High: {{ source_high }}
                </a>

                <a href="/sourcecode/?severity=MEDIUM" class="btn btn-light btn-sm">
                    Medium: {{ source_medium }}
                </a>

                <a href="/sourcecode/?severity=LOW" class="btn btn-light btn-sm">
                    Low: {{ source_low }}
                </a>

            </div>

        </div>

    </div>


    <!-- Docker -->

    <div class="col-md-4">

        <div class="card-box medium">

            <h5>Docker Vulnerabilities</h5>

            <h1>{{ docker_total }}</h1>

            <div class="mt-3">

                <a href="/docker/?severity=CRITICAL" class="btn btn-dark btn-sm">
                    Critical: {{ docker_critical }}
                </a>

                <a href="/docker/?severity=HIGH" class="btn btn-dark btn-sm">
                    High: {{ docker_high }}
                </a>

                <a href="/docker/?severity=MEDIUM" class="btn btn-dark btn-sm">
                    Medium: {{ docker_medium }}
                </a>

                <a href="/docker/?severity=LOW" class="btn btn-dark btn-sm">
                    Low: {{ docker_low }}
                </a>

            </div>

        </div>

    </div>


    <!-- AWS -->

    <div class="col-md-4">

        <div class="card-box high">

            <h5>AWS Vulnerabilities</h5>

            <h1>
                {{ aws_critical|add:aws_high|add:aws_medium|add:aws_low }}
            </h1>

            <div class="mt-3">

                <a href="/aws/?severity=Critical" class="btn btn-light btn-sm">
                    Critical: {{ aws_critical }}
                </a>

                <a href="/aws/?severity=High" class="btn btn-light btn-sm">
                    High: {{ aws_high }}
                </a>

                <a href="/aws/?severity=Medium" class="btn btn-light btn-sm">
                    Medium: {{ aws_medium }}
                </a>

                <a href="/aws/?severity=Low" class="btn btn-light btn-sm">
                    Low: {{ aws_low }}
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}
