{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Security Dashboard</h1>

<div class="row g-4">

    <div class="col-md-4">

        <a href="/sourcecode/" style="text-decoration:none;">

            <div class="card-box repo">

                <h3>Source Code Vulnerabilities</h3>

            </div>

        </a>

    </div>

    <div class="col-md-4">

        <a href="/docker/" style="text-decoration:none;">

            <div class="card-box high">

                <h3>Docker Vulnerabilities</h3>

            </div>

        </a>

    </div>

    <div class="col-md-4">

        <a href="/aws/" style="text-decoration:none;">

            <div class="card-box critical">

                <h3>AWS Vulnerabilities</h3>

            </div>

        </a>

    </div>

</div>

{% endblock %}
